body {
    min-height: 100vh;
    display: grid;
    place-items: center;
background-color: hsl(212, 45%, 89%);
}

.box1 {
border-radius: 10px;
background-color: hsl(0, 0%, 100%);
width: 220px;
height: 350px;
}
   
.thick-font {
font-family: 'Outfit', sans-serif;
font-size: 15px;
font-weight: 700;
text-align: center;
position: relative;
top: 64%;
margin: 16px;
}

.normal-font {
opacity: 0.4;
font-family: 'Outfit', sans-serif;
font-size: 15px;
font-weight: 400;
text-align: center;
position: relative;
top: 63%
}       

img {
border-radius: 30px;
height: 200px;
width: 200px;
position: absolute;
padding: 10px;
}
